{% extends "actor.html" %}


{% block content %}
<h1>搜索条目</h1>
<!-- align-items-center -->
<form method="post" class="row g-3">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="col-md-3">
        {{ form.actor_id.label(class="form-label") }}
        {{ form.actor_id(class="form-control", placeholder="输入4位编号") }}
    </div>

    <div class="col-md-3">
        {{ form.actor_name.label(class="form-label") }}
        {{ form.actor_name(class="form-control", placeholder="输入姓名") }}
    </div>
    <div class="col-md-3">
        {{ form.gender.label(class="form-label")}}
        {{ form.gender(class="form-control", placeholder="输入性别") }}
    </div>

    <div class="col-md-3">
        {{ form.country.label(class="form-label")}}
        {{ form.country(class="form-control", placeholder="输入国籍") }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">搜索</button>
    </div>
</form>

{% if results %}
<br>
<h1>搜索结果</h1>
<div class="table-responsive">
    <!-- <table class="table table-hover align-middle"> -->
    <table class="table align-middle">
        <thead class="border-dark">
            <tr>
                {% for column in actors_col %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for actor in results %}
            <tr>
                <td scope="row">{{ actor.actor_id }}</td>
                <td>{{ actor.actor_name }}</td>
                <td>{{ actor.gender }}</td>
                <td>{{ actor.country }}</td>
                <td>
                    <!-- 编辑 -->
                    <div class="d-grid gap-1 d-md-flex justify-content">
                        <a type="button" class="btn btn-outline-success btn-sm text-nowrap"
                            href="{{ url_for('actor_edit', actor_id=actor.actor_id) }}">编辑</a>
                        <!-- 删除 -->
                        <form method="post" action="{{ url_for('actor_delete', actor_id=actor.actor_id) }}"
                            onsubmit="return confirm('确认删除吗？这将对应删除actor_actor_relation同一演员信息')">
                            <button type="submit" class=" btn btn-outline-danger btn-sm text-nowrap">删除</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}