<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <!-- 自适应页面宽度 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- 加载bootstrap的css -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/bootstrap.min.css">
    <!--  块标题  -->
    <title>
        {% block title %}
        首页
        {% endblock %}</title>
</head>

<body>
    <br>
    <div class="container">
        <h1>
            <img class=" rounded mx-auto" style="width: 10%;vertical-align:middle;"
                src="{{ url_for('static', filename='万叶.jpg') }}">
            电影管理系统
        </h1>
    </div>
    <br>
    <div class="container">
        <!--块导航栏-->
        <!-- 通过block更换活跃状态 -->
        {% block navelse %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                {% block navindex %}
                <a class="nav-link" aria-current="page" href="{{ url_for('index')}}">主页</a>
                {% endblock %}
            </li>
            <li class="nav-item dropdown">
                {% block navmovie %}
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">电影信息</a>
                {% endblock %}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('movie')}}">所有条目</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('movie_search')}}">搜索条目</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                {% block navdirector %}
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">导演信息</a>
                {% endblock %}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('director')}}">所有条目</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('director_search')}}">搜索条目</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                {% block navrole %}
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">角色信息</a>
                {% endblock %}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('role') }}">所有条目</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('role_search') }}">搜索条目</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                {% block navactor %}
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">演员信息</a>
                {% endblock %}
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('actor')}}">所有条目</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('actor_search')}}">搜索条目</a></li>
                </ul>
                {% block navtype %}
                {% endblock%}
        </ul>
        {% endblock %}
    </div>

    <!-- 插入提示框 -->
    <!-- 
        get_flashed_messages()是一个列表，该列表可以取出闪现信息，该条闪现信息只要被取出就会删除掉。 
        -设置：flash('用户名错误', "username_error")
      flash('用户密码错误', "password_error") # 第二个参数为闪现信息的分类。
        -取所有闪现信息的类别和闪现内容：get_flashed_messages(with_categories=True)
        -针对分类过滤取值：get_flashed_messages(category_filter=['username_error']) 
                    # 中括号内可以写多个分类。
        -注意：如果flash()没有传入第二个参数进行分类，默认分类是 'message'
    
    -->
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="mx-auto alert alert-success alert-dismissible fade show" style="width:65%" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif category == "warning" %}
    <div class="mx-auto alert alert-warning alert-dismissible fade show" style="width:65%" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}

    <!--块内容-->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!--块底部内容-->
    <br>
    <div style="text-align: center;">
        <small>
            Copyright &copy; 2023
            <a href="https://github.com/Silverwolf-x/movie-management-system">Silverwolf-x
                Project</a> by hyx
        </small>
    </div>
    <br>
    <!--加载bootstrap的JavaScript资源-->
    <script src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
</body>


</html>