{% extends "base.html" %}

{% block title %}编辑导演信息{% endblock %}

{% block navdirector %}
<a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
    aria-expanded="false">导演信息</a>
{% endblock %}

{% block content %}
<div class="container">
    <h2>编辑导演信息</h2>
    
    <form method="post" class="row g-3">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        
        <div class="col-md-3">
            <label class="form-label">导演ID</label>
            <input class="form-control" value="{{ director.director_id }}" readonly>
        </div>
        
        <div class="col-md-3">
            {{ form.director_name.label(class="form-label") }}
            {{ form.director_name(class="form-control", placeholder="输入姓名") }}
        </div>
        
        <div class="col-md-3">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control", placeholder="输入性别") }}
        </div>
        
        <div class="col-md-3">
            {{ form.country.label(class="form-label") }}
            {{ form.country(class="form-control", placeholder="输入国籍") }}
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary me-2">提交修改</button>
            <a href="{{ url_for('director') }}" class="btn btn-secondary">取消</a>
        </div>
    </form>
</div>
{% endblock %}