{% extends "base.html" %}

{% block title %}Movie Info{% endblock %}

{% block navmovie %}
<a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
    aria-expanded="false">电影信息</a>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="border-dark">
            <tr>
                <th>电影ID</th>
                <th>电影名称</th>
                <th>上映日期</th>
                <th>国家</th>
                <th>类型</th>
                <th>年份</th>
                <th>出品公司</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <form method="post">
                {{ form.error }}
                <tr>
                    {{ form.csrf_token }}{{ form.hidden_tag() }}
                    <td scope="row"></td>
                    <td>{{ form.movie_name(class="form-control", placeholder="输入电影名称") }}</td>
                    <td>{{ form.release_date(class="form-control", placeholder="输入发行日期") }}</td>
                    <td>{{ form.country(class="form-control", placeholder="输入制片国家") }}</td>
                    <td>{{ form.type(class="form-control", placeholder="输入电影类型") }}</td>
                    <td><input class="form-control" placeholder="自动读取" disabled readonly></td>
                    <td>
                        {{ form.company_id(class="form-select") }}
                    </td>

                    <!-- 添加新的选择框 -->
                    <tr>
                        <td colspan="2">
                            <label class="form-label">选择演员</label>
                            <select class="form-select" name="actor_ids" multiple>
                                {% for actor in actors %}
                                <option value="{{ actor.actor_id }}">{{ actor.actor_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2">
                            <label class="form-label">选择导演</label>
                            <select class="form-select" name="director_ids" multiple>
                                {% for director in directors %}
                                <option value="{{ director.director_id }}">{{ director.director_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <td><button type="submit" class=" btn btn-outline-primary btn-sm text-nowrap">添加</button></td>
                </tr>
            </form>
            {% for movie in movies %}
            <tr>
                <td scope="row">{{ movie.movie_id }}</td>
                <td>{{ movie.movie_name }}</td>
                <td>{{ movie.release_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.type }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.production_company.company_name if movie.production_company else '' }}</td>
                <td>
                    <!-- 编辑 -->
                    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                        <a type="button" class="btn btn-outline-success btn-sm text-nowrap"
                            href="{{ url_for('movie_edit', movie_id=movie.movie_id) }}">编辑</a>
                        <!-- 删除 -->
                        <form method="post" action="{{ url_for('movie_delete', movie_id=movie.movie_id) }}"
                            onsubmit="return confirm('确认删除吗？这将删除所有相关记录')">
                            <button type="submit" class=" btn btn-outline-danger btn-sm text-nowrap">删除</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}