{% extends "movie.html" %}

{% block title %}Edit Movie{% endblock %}

{% block content %}
<h1>编辑电影</h1>
<form method="post" class="row g-3">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    
    <div class="col-md-3">
        <label class="form-label">电影ID</label>
        <input class="form-control" value="{{ movie.movie_id }}" readonly>
    </div>

    <div class="col-md-9">
        {{ form.movie_name.label(class="form-label") }}
        {{ form.movie_name(class="form-control") }}
    </div>
    
    <div class="col-md-4">
        {{ form.release_date.label(class="form-label")}}
        {{ form.release_date(class="form-control") }}
    </div>

    <div class="col-md-4">
        {{ form.country.label(class="form-label") }}
        {{ form.country(class="form-control") }}
    </div>

    <div class="col-md-4">
        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control") }}
    </div>
    
    <div class="col-md-12">
        {{ form.company_id.label(class="form-label") }}
        <select class="form-select" name="company_id">
            {% for company in companies %}
            <option value="{{ company.company_id }}" 
                {% if company.company_id == movie.company_id %}selected{% endif %}>
                {{ company.company_name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">提交修改</button>
    </div>
</form>
{% endblock %}