<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <!-- 自适应页面宽度 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- 加载bootstrap的css -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/bootstrap.min.css">
    <!--  块标题  -->
    <title>
        {% block mytitle %}
        首页
        {% endblock %}</title>

</head>

<body>

    <!--块导航栏-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- {% block navbar %}
    {% endblock %} -->

    <!-- 插入提示框 -->
    <!-- 
        get_flashed_messages()是一个列表，该列表可以取出闪现信息，该条闪现信息只要被取出就会删除掉。 
        -设置：flash('用户名错误', "username_error")
      flash('用户密码错误', "password_error") # 第二个参数为闪现信息的分类。
        -取所有闪现信息的类别和闪现内容：get_flashed_messages(with_categories=True)
        -针对分类过滤取值：get_flashed_messages(category_filter=['username_error']) 
                    # 中括号内可以写多个分类。
        -注意：如果flash()没有传入第二个参数进行分类，默认分类是 'message'
    
    -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="container alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Success</h4>
        <hr>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif category == "warning" %}
    <div class="container alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Warning</h4>
        <hr>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}

    <!--块内容-->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!--块底部内容-->

    <small>
        &copy; 2023
        <a href="https://github.com/Silverwolf-x/movie-management-system">Silverwolf-x
            Project</a>
    </small>


    <!--加载bootstrap的JavaScript资源-->
    <script src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
</body>


</html>