{% extends "movie.html" %}


{% block content %}
<h1>搜索条目</h1>
<!-- align-items-center -->
<form method="post" class="row g-3">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="col-md-6">
        {{ form.movie_id.label(class="form-label") }}
        {{ form.movie_id(class="form-control", placeholder="输入电影编号") }}
    </div>

    <div class="col-md-6">
        {{ form.movie_name.label(class="form-label") }}
        {{ form.movie_name(class="form-control", placeholder="输入电影名称") }}
    </div>
    <div class="col-md-3">
        {{ form.release_date.label(class="form-label")}}
        {{ form.release_date(class="form-control", placeholder="输入发行日期") }}
    </div>

    <!-- 自动根据release_date填写 -->
    <div class="col-md-3">
        {{ form.year.label(class="form-label")}}
        {{ form.year(class="form-control", placeholder="输入发行年份") }}
    </div>

    <div class="col-md-3">
        {{ form.country.label(class="form-label") }}
        {{ form.country(class="form-control", placeholder="输入制片国家") }}
    </div>

    <div class="col-md-3">
        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control", placeholder="输入电影类型") }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">搜索</button>
    </div>
</form>

{% if results %}
<br>
<h1>搜索结果</h1>
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="border-dark">
            <tr>
                {% for column in movies_col %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for movie in results %}
            <tr>
                <td scope="row">{{ movie.movie_id }}</td>
                <td>{{ movie.movie_name }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.type }}</td>
                <td>{{ movie.year }}</td>
                <td>
                    <!-- 编辑 -->
                    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                        <a type="button" class="btn btn-outline-success btn-sm"
                            href="{{ url_for('movie_edit', movie_id=movie.movie_id) }}">编辑</a>
                        <!-- 删除 -->
                        <form method="post" action="{{ url_for('movie_delete', movie_id=movie.movie_id) }}"
                            onsubmit="return confirm('确认删除吗？这将对应删除movie_actor_relation同一电影信息')">
                            <button type="submit" class=" btn btn-outline-danger btn-sm">删除</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}