{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <caption class="caption-top">Movie Info
            <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('search_movie')}}">搜索</a>
        </caption>
        <thead class="border-dark">
            <tr>
                {% for column in movies_col %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td scope="row">{{ movie.movie_id }}</td>
                <td>{{ movie.movie_name }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.type }}</td>
                <td>{{ movie.year }}</td>
                <td>
                    <!-- 编辑 -->
                    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                        <a type="button" class="btn btn-outline-success btn-sm"
                            href="{{ url_for('edit_movie', movie_id=movie.movie_id) }}">编辑</a>
                        <!-- 删除 -->
                        <form method="post" action="{{ url_for('delete_movie', movie_id=movie.movie_id) }}"
                            onsubmit="return confirm('确认删除吗？这将对应删除movie_actor_relation同一电影信息')">
                            <button type="submit" class=" btn btn-outline-danger btn-sm">删除</button>
                    </div>
                    </form>
</div>

</td>
</tr>
{% endfor %}
</tbody>

</table>
</div>


{% endblock %}